.gradient-background {
    background: hsla(203, 100%, 36%, 1);
    background: linear-gradient(-45deg, hsla(203, 100%, 36%, 1) 6%, hsla(123, 77%, 66%, 1) 95%);
    background: -moz-linear-gradient(-45deg, hsla(203, 100%, 36%, 1) 6%, hsla(123, 77%, 66%, 1) 95%);
    background: -webkit-linear-gradient(-45deg, hsla(203, 100%, 36%, 1) 6%, hsla(123, 77%, 66%, 1) 95%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0071B8", endColorstr="#67EB6E", GradientType=1 );
}